<header>
	<nav>
		<ul class="container">
			{{ $currentPage := . }}
			<li class="headerLink">
				{{if eq .Permalink .Site.BaseURL }}
					<span>home</span>
				{{else}}
					<a href="{{ .Site.BaseURL }}" class="logo__link">home</a>
				{{end}}
			</li>
			{{ range .Site.Menus.main }}
				{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
					<li class="headerLink"><span>{{ .Name }}</span></li>
				{{else}}
					<li class="headerLink"><a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
				{{end}}
			{{ end }}
		</ul>
	</nav>
</header>
