@charset "UTF-8";

html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  -webkit-overflow-scrolling: touch;
}

body {
  --bg: #fff;
  --text: #000;
  --border: #000;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg);
  color: var(--text);
}

header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px dashed var(--border);
  margin-bottom: 2rem;
}

main {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1rem;
}

.logo__link {
  margin-right: 2rem;
}
.logo__icon {
  display: block;
}

nav {
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
}

.menu__item.active {
  background: red;
}
